@model SWC.Models.tb_empleado

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group m-b-15">
        @Html.TextBoxFor(a => a.usuario, new { @class="form-control input-lg", @placeholder = "Ingrese su Usuario" })
    </div>
    <div class="form-group m-b-15">
        @Html.PasswordFor(a => a.contra, new { @class = "form-control input-lg", @placeholder = "Ingrese su Contraseña" })
    </div>
        <div class="login-buttons">
            <button type="submit" class="btn btn-info btn-block btn-lg">Iniciar Sesion</button>
        </div>
            <hr>
            <p class="text-center">
                © SCW All Right Reserved 2015
            </p>
}